extends pug/base

prepend vars
  - title = 'FAQs'

append vars

block content
  section.hero.hero--faqs.wave-bottom
    img(src="images/faqs.jpg" alt="faqs")
    .hero__inner
      .hero__motto
        h2 FAQs
      p Because no one should lose sleep over job applications
