extends pug/base

prepend vars
  - title = 'Homepage'

append vars
//-  - pageWrapperClass = 'custom-class'

block content
  <canvas id="image-sequence" width="1920" height="1080"></canvas>

  <section id="section-1" class="pin-section" data-frame-count="75" data-image-path="images/general/dreamscareersite-general">
    <div class="section-content">
        <h1>Scroll Section 1: Image Set A (75 frames)</h1>
        <p>This content is now floating above the canvas image!</p>
    </div>
  </section>
  <section id="section-2" class="pin-section" data-frame-count="50" data-image-path="images/bedquarters/dreamscareersite-bedquarters">
    <div class="section-content">
        <h1>Scroll Section 2: Image Set B (50 frames)</h1>
        <p>You can add any element here, like buttons or text.</p>
    </div>
  </section>
  <section id="section-3" class="pin-section" data-frame-count="90" data-image-path="images/third-set/third-sequence">
    <div class="section-content">
        <h1>Scroll Section 3: Image Set C (90 frames)</h1>
        <p>The canvas image will change as you scroll past this section.</p>
    </div>
  </section>